<form xmlns:th="http://www.thymeleaf.org"
	data-th-fragment="frag-profil-form(titreForm, action)"  data-th-action="@{${action}}" method="post" data-th-object="${profil}">
	<h1 data-th-text="${titreForm}"></h1>
	<th:block data-th-if="${!#strings.isEmpty(action)}">
		<div data-th-replace="~{fragments/errors/fragment-errors :: frag-errors}"></div>
	</th:block>
	<ul class="flex-outer">
		<li>
			<label for="inputPseudo" data-th-text="#{frag-profil-form.pseudo}"></label> 
			<input type="text" id="inputPseudo" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{pseudo}" required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('pseudo')}"></div>
			</th:block>
					
		</li>
		<li>
			<label for="inputNom" data-th-text="#{frag-profil-form.nom}"></label> 
			<input type="text" id="inputNom" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{nom}" required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('nom')}"></div>
			</th:block>
		</li>
		<li>
			<label for="inputPrenom" data-th-text="#{frag-profil-form.prenom}"> </label> 
			<input type="text" id="inputPrenom" data-th-disabled="${#strings.isEmpty(action)}"
					data-th-field="*{prenom}" required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('prenom')}"></div>
			</th:block>
		</li>
		<li>
			<label for="inputEmail" data-th-text="#{frag-profil-form.email}"> </label> 
			<input type="text" id="inputEmail" data-th-disabled="${#strings.isEmpty(action)}"
					data-th-field="*{email}"  required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('email')}"></div>
			</th:block>
		</li>
		
		<li>
			<label for="inputTelephone" data-th-text="#{frag-profil-form.telephone}"></label> 
			<input type="text" id="inputTelephone" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{telephone}" pattern="(?:\+33|0)[1-9](?:\d{2}){4}" />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('telephone')}"></div>
			</th:block>
		</li>
		
		<li>
			<label for="inputAdresse" data-th-text="#{frag-profil-form.adresse}"></label> 
			<input type="text" id="inputAdresse" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{adresse.rue}" required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.rue')}"></div>
			</th:block>
		</li>
		
		<li>
			<label for="inputVille" data-th-text="#{frag-profil-form.ville}"></label> 
			<input type="text" id="inputVille" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{adresse.ville}" required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.ville')}"></div>
			</th:block>
		</li>
		
		<li>
			<label for="inputCodePostal" data-th-text="#{frag-profil-form.codepostal}"></label> 
			<input type="text" id="inputCodePostal" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{adresse.codePostal}" />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('adresse.codePostal')}"></div>
			</th:block>
		</li>
		
		<li>
			<label for="inputMotDePasse" data-th-text="#{frag-profil-form.mdp}"></label> 
			<input type="password" id="inputMotDePasse" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{motDePasse}" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}" required/>
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('motDePasse')}"></div>
			</th:block>
		</li>
		
		
		<li>
			<label for="inputConfirmation" data-th-text="#{frag-profil-form.confirmation}"></label> 
			<input type="password" id="inputConfirmation" data-th-disabled="${#strings.isEmpty(action)}"
				data-th-field="*{motDePasseConfirmation}" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,20}" 
				required />
			<th:block data-th-if="${!#strings.isEmpty(action)}">
				<div data-th-replace="~{fragments/errors/fragment-error :: frag-error('motDePasse')}"></div>
			</th:block>
		</li>
		
		<li data-th-if="${!#strings.isEmpty(action)}">
			<button type="submit" data-th-text="#{frag-profil-form.enregistrer}"></button>
		</li>
		
	
			<button type="button" onclick="history.back()" data-th-text="#{frag-profil-form.annuler}"></button>
		
	</ul>
</form>
